name: Deploy
on:
  push:
    branches:
      - develop
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest
      - name: Install dependencies
        run: npm ci
        working-directory: ./app
      - name: Build
        run: npm run build
        working-directory: ./app
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Build Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          name: github-pages
          path: ./app/dist
      - name: Deploy GitHub Pages site
        uses: actions/deploy-pages@v2.0.1
        with:
          artifact-name: github-pages
          token: ${{ secrets.GITHUB_TOKEN }}
          clean: true
